{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<h3>Checkout</h3>
<table class="tables">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Title</th>
            <th>Author</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with book=item.book %}
        <tr>
            <td>
                <a href="{{ book.get_absolute_url }}">
                    <img class="bookimagesmall" src="{{ book.img_url }}" alt="Book image">
                </a>
            </td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.price }}</td>
            <td>${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
            <td><b>Total</b></td>
            <td colspan="4"></td>
            <td>$<b>{{ cart.calc_total_price }}</b></td>
        </tr>
    </tbody>
</table>
<br>
<div class="order-info">
    <h4>Order</h4>
    <ul style="text-align:center; list-style: none;">
        {% for item in cart %}
        <li>
            {{ item.quantity }}x <b>{{ item.book.title }} by {{ item.book.author }}</b>
            <span>${{ item.total_price }}</span>
        </li>
        {% endfor %}
    </ul>
    <p>Total: $<b>{{ cart.calc_total_price }}</b></p>
</div>

<div id="review-form" class="form--group">
<form class="form--review" method="post" class="order-form">
    <div class="form--control">
    {{ form.as_p }}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit order"></p>
    {% csrf_token %}
</form>
</div>

{% endblock %}