.form--group {
    margin-bottom: 20px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
}

.form--review {

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
}

.form--control {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#review-form {
    margin-left: auto;
    margin-right: auto;
}

#addtocart select {
    width: 20%;
}


@media (max-width: 900px) {
    #review-form,
    .form--group {
        flex: 0 0 100%;
        margin-right: 0;
        margin-left: 0;
    }
}


#coupon-form {
    max-width: 200px;
    margin: 0 auto; 
    align-items: left;
}


#coupon-input {
    flex: 1; 
    margin-right: 10px;
}


.pay_now {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #8796a2;
    color: #ffffff; 
    transition: background-color 0.3s ease;
}

.pay_now:hover {
    background-color: #3d444a;
}