@import url("book.css");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* :hover,
*::before :hover,
*::after :hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}


.selected {
    background-color: blue;
    color: rgb(160, 6, 6) !important; 
}


h1 {
    font-size: 30px;
    color: #333;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

h4, h3 {
    text-align: center;
    color: #333;
    margin: 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar li {
    display: inline;
    margin: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: #dacdcd;
    text-decoration: none;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.icon-link:hover {
    color: #dacdcd;
}

#content {
    background-color: #f5f5f5;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
}