{% extends "base.html" %}
{% load static %}

{% block title %}Payment{% endblock %}

{% block content %}

<h3>Order summary</h3>
<table class="tables">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Title</th>
            <th>Author</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
        <tr>
            <td>
                <img class="bookimagesmall" src="{{ item.book.img_url }}" alt="Book image">
            </td>
            <td>{{ item.book.title }}</td>
            <td>{{ item.book.author }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.price }}</td>
            <td>${{ item.get_cost }}</td>
        </tr>
        {% endfor %}
        {% if order.coupon %}
        <tr>
            <td>Subtotal</td>
            <td colspan="4"></td>
            <td>${{ order.get_total_cost_before_discount|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>
                Coupon "{{ order.coupon.code }}"
                ({{ order.discount }}% discount)
            </td>
            <td colspan="4"></td>
            <td>
                - ${{ order.get_discount|floatformat:2 }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td><b>Total</b></td>
            <td colspan="4"></td>
            <td>$<b>{{ order.get_total_cost|floatformat:2 }}</b></td>
        </tr>
    </tbody>
</table>

<div id="review-form" class="form--group">
<form class="form--review" action="{% url 'payment:process' %}" method="post">
    <p><input type="submit" class="btn btn-primary" value="Pay"></p>
    {% csrf_token %}
</form>
</div>

{% endblock %}