{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<h1> Bookstore </h1>

<div class="about">
    <p><a href="https://github.com/Ewa-Anna/Bookstore">Repository</a></p>
    <p class="about-text">This is portfolio project for a dynamic e-commerce website built for a fictional bookstore. The project is build using Django, a Python web framework, for backend. HTML, CSS and a little bit of JavaScript for frontend.</p>
    <p class="about-text">Feel free to report any <a href="https://github.com/Ewa-Anna/Bookstore/issues">issues</a> and label them as bug, if you encoutered any! If you have an idea how to develop this website, don't hesitate to open an issue and label is as an enhancement.</p>
</div>

{% endblock %}