{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h3>Profile</h3>
<div>
    <p>
        Welcome {{ request.user.first_name | default:request.user.username }}!
    </p>
    {% if profile.photo %}
    <p><img src="{{ profile.photo.url }}" alt="User Photo" width="150"></p>
    {% else %}
    <p>No photo available</p>
    {% endif %}

    <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>

    <p><strong>Shipping address:</strong></p>
    <p>{{ profile.street }} {{ profile.apartment }}
        <br>
    {{ profile.postal_code }} {{ profile.city }}, {{ profile.state }}
    <br>
    {{ profile.country }}</p>
    <p>
        You can <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your
            password</a>.
    </p>
</div>
<div>
    <p>
    <h4>Orders:</h4>
    <table class="tables">
        <thead>
            <tr>
                <th>Created</th>
                <th>Order ID</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            {% for order in order_list %}
            <tr>
                <td>{{ order.created }}</td>
                <td>{{ order.id }}</td>
                <td>{% if order.paid %} paid {% else %} waiting for payment {% endif %}</td>
                <td>${{ order.get_total_cost }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </p>
</div>

{% endblock %}