{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}

<h4>Shopping cart</h4>
<table class="tables">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Title</th>
            <th>Author</th>
            <th>Amount</th>
            <th>Delete</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with book=item.book %}
        <tr>
            <td>
                <a href="{{ book.get_absolute_url }}">
                    <img class="bookimagesmall" src="{{ book.img_url }}" alt="Book image">
                </a>
            </td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
                <form action="{% url 'cart:cart_add' book.bookid %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.override }}
                    <input type="submit" class="btn btn-info" value="Change">
                    {% csrf_token %}
                </form>
            </td> 
            <td>
                <form action="{% url 'cart:cart_remove' book.bookid %}" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                    {% csrf_token %}
                </form>
            </td>
            <td>${{ item.price }}</td>
            <td>${{ item.total_price }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        <tr>
            <td><b>Total</b></td>
            <td colspan="5"></td>
            <td>$<b>{{ cart.calc_total_price }}</b></td>
        </tr>
    </tbody>
</table>
<p>
    <a href="{% url 'book:book_list' %}" class="btn btn-primary">Resume shopping</a>
    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">Checkout</a>
</p>

{% endblock %}