{% extends "base.html" %}

{% block title %}{{ book.title }} by {{ book.author }}{% endblock %}

{% block content %}
<h1> {{ book.title }} by {{ book.author }} </h1>

<div class="book-details">
    <div class="book-image">
        <img class="bookimage" src="{{ book.img_url }}" alt="Book image">
    </div>
    <div class="book-info">
        <b>Title:</b> {{ book.title }}
        <br>
        <b>Author:</b> {{ book.author }}
        <div class="book-rating">
            <b>Average rating:</b> 
            {% if not avg_rating %}
            N/A
            {% else %}
            {{ avg_rating|floatformat:2 }}
            {% endif %}
        </div>
        <div class="book-price">
            <b>Price:</b> &#36;{{ book.price }}
        </div>
        <form action="{% url 'cart:cart_add' book.bookid %}" method="post">
            {{ cart_book_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Add to cart">
        </form>
    </div>
    <div class="book-description">
        <b>Description:</b>
        <p id="book-description">
            {{ book.description | linebreaks }}
        </p>
    </div>
</div>

<div class="bookdetails">

    <h4>Might interest you as well:</h4>

    {% for book in similar_books %}
    <p>
        <a href="{{ book.get_absolute_url }}">
            <img class="bookimage" src="{{ book.img_url }}" alt="Book image">
            {{ book.title }}
        </a>
        <br>
        {{ book.author }}
        <br>
        &#36;{{ book.price }}
    <form action="{% url 'cart:cart_add' book.bookid %}" method="post">
        {{ cart_book_form }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Add to cart">
    </form>
    </p>
    {% empty %}
    <p>Nothing here yet.</p>
    {% endfor %}

</div>

{% with reviews.count as total_reviews %}
<h2 style="text-align: center;">
    {% if total_reviews == 1 %}
    {{ total_reviews }} review
    {% else %}
    {{ total_reviews }} reviews
    {% endif %}
</h2>
{% endwith %}

{% include "review/filter.html" %}
<br>
{% for review in reviews reversed %}
<div style="text-align: center;" class="review">
    <p class="info">
        <b>Review {{ forloop.counter }} added by {{ review.user }} on
            {{ review.created }}</b>
        <br>
        {{ review.name }} <b>rated:</b> {{ review.rating }}/5
        {% if user.is_authenticated and review.user == user %}
        <a href="{% url 'book:edit_review' review.id %}?next={{ request.path|urlencode }}" class="btn btn-info">Edit</a>
        {% endif %}
    </p>

    {% if not review.body %}
    <p><i>User did not leave any review.</i></p>
    {% else %}
    {{ review.body|linebreaks }}
    {% endif %}
    {{ review.upvotes }} <a href="#" class="vote-up" data-review-id="{{ review.id }}" data-score="1">Agree</a> /
    {{ review.downvotes }} <a href="#" class="vote-down" data-review-id="{{ review.id }}" data-score="-1">Disagree</a>
    <br>
    <br>
</div>
{% empty %}
<p>There are no reviews yet.</p>
{% endfor %}
<br>

{% if user.is_authenticated %}
{% if user_left_review %}
<p>You have already left a review for this book.</p>
{% else %}
{% include "book/includes/review_form.html" %}
{% endif %}
{% else %}
<p><a href="/user/login">Login</a> or <a href="/user/register">Register</a> to rate a book or post a review.</p>
{% endif %}

{% endblock %}