{% extends "base.html" %}
{% block title %}{{ book.title }} by {{ book.author }}{% endblock %}

{% block content %}
<h1> {{ book.title }} by {{ book.author }} </h1>
<div>
    <img class="bookimage" src="{{ book.img_url }}" alt="Book image">
</div>

<div class="bookdetails">
    <b>Title:</b> {{ book.title }}
    <br>
    <b>Author:</b> {{ book.author }}
    <br>
    <b>Price:</b> &#36;{{ book.price }}
    <br>
    <b>Description:</b>
    <br>
    {{ book.description | linebreaks }}
</div>

<div class="bookdetails">

    <h4>Might interest you as well:</h4>

    {% for book in similar_books %}
    <p>
        <a href="{{ book.get_absolute_url }}">
            <img class="bookimage" src="{{ book.img_url }}" alt="Book image">
            {{ book.title }}
        </a>
        <br>
        {{ book.author }}
        <br>
        &#36;{{ book.price }}
    </p>
    {% empty %}
    <p>Nothing here yet.</p>
    {% endfor %}

</div>

{% with reviews.count as total_reviews %}
<h2 style="text-align: center;">
    {% if total_reviews  == 1 %}
    {{ total_reviews }} review
    {% else %}
    {{ total_reviews }} reviews
    {% endif %}
</h2>
{% endwith %}

{% for review in reviews reversed %}
<div style="text-align: center;" class="review">
    <p class="info">
        <b>Review {{ forloop.counter }} added by {{ review.name }} on
        {{ review.created }}</b>
    </p>
    {{ review.body|linebreaks }}
</div>
{% empty %}
<p>There are no reviews yet.</p>
{% endfor %}

{% if user.is_authenticated %}
{% include "book/includes/review_form.html" %}
{% else %}
<p><a href="/user/login">Login</a> or <a href="/user/register">Register</a> to post a review.</p>
{% endif %}

{% endblock %}