{% extends "base.html" %}
{% load book_tags %}
{% load static %}

{% block title %}Bookstore{% endblock %}

{% block content %}

<h1> Bookstore </h1>

{% if tag %}
<h4>Books with tag: "{{ tag.name }}"</h4>
{% endif %}
<form method="get" action="{% url 'book:book_list' %}" id="booksPerPageForm">
    <label for="booksPerPage">Books per page:</label>
    <select name="books_per_page" id="itemsPerPage" onchange="this.form.submit()">
        <option value="6" {% if books_per_page == 6 %}selected{% endif %}>6</option> 
        <option value="12" {% if books_per_page == 12 %}selected{% endif %}>12</option>
        <option value="18" {% if books_per_page == 18 %}selected{% endif %}>18</option>
    </select>
</form>
<div class="bookcontainer">

    {% for book in books %}

    <div class="book">
        <div class="bookdetails">

            <div class="icon-container">
                <a id="wishlist-icon" class="wishlist-icon" data-bookid="{{ book.bookid }}" data-csrf="{{ csrf_token }}" href="javascript:void(0)" data-bookid="{{ book.bookid }}">
                    <i class="fa-regular fa-heart"></i>
                    <!-- <i class="fa-solid fa-heart"></i> For added -->
                </a>
                <a id="cart-icon" class="cart-icon" href="javascript:void(0)" data-bookid="{{ book.bookid }}">
                    <i class="fa-solid {% if book_in_cart %}fa-check{% else %}fa-basket-shopping{% endif %}"></i>
                </a>
            </div>

            <a class="booklink" href="{% url 'book:book_detail' book.slug %}">
                <img class="bookimage" src="{{ book.img_url }}" alt="Book image">

                {{ book.title|truncatechars:30 }}
            </a>
            <br>
            {{ book.author|truncatechars:30 }}
            <br>
            &#36;{{ book.price }}
            <p class="tags">Tags:
                {% spaceless %}
                {% for tag in book.tags.all %}

                <a href="{% url 'book:book_list_by_tag' tag.slug %}">{{ tag.name.strip }}</a>{% if not forloop.last %},
                {% endif %}

                {% endfor %}
                {% endspaceless %}
            </p>
            <form id="addtocart" action="{% url 'cart:cart_add' book.bookid %}" method="post">
                {{ cart_book_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Add to cart">
            </form>
        </div>
    </div>

    {% endfor %}
</div>
{% include "pagination.html" with page=books %}

<h4>Latest arrivals:</h4>
{% show_latest_books 6 %}
<br>
<p>We have {% total_books %} books in our store.</p>

<script>
    const csrfToken = "{{ csrf_token }}";
</script>

{% endblock %}