{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h3>Login</h3>

{% if form.errors %}
<p>Username or password invalid.
    <br>
    Try again.
</p>
{% endif %}
<div id="review-form" class="form--group">
<form class="form--review" action="{% url 'user:login' %}" method="post">
    <div class="form--control">
    {{ form.as_p }}
    {% csrf_token %}
    </div>
    <input type="hidden" name="next" value="/user/dashboard"/>
    <p><input type="submit" class="btn btn-primary" value="Login"></p>
</form>
</div>
<p><a href="{% url 'user:password_reset' %}">Forgot your password?</a></p>
<p><a href="{% url 'user:register' %}">Don't have an account yet?</a></p>

{% endblock %}