{% extends "base.html" %}

{% block title %}Restore Password{% endblock %}

{% block content %}

<h3>Restore Password</h3>
{% if validlink %}
<p>Provide new password:</p>

<div id="review-form" class="form--group">
<form class="form--review" method="post">
    <div class="form--control">
    {{ form.as_p }}
    {% csrf_token %}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Change"></p>
</form>
</div>
{% else %}
<p>Invalid link - probably was already used. Try again.</p>
{% endif %}

{% endblock %}