*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* :hover,
*::before :hover,
*::after :hover {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar li {
    display: inline;
    margin: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-bar a:hover {
    color: #dacdcd;
    text-decoration: none;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.icon-link {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.icon-link:hover {
    color: #dacdcd;
}

#content {
    background-color: #f5f5f5;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.bookcontainer {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    text-decoration: none;
    grid-template-columns: repeat(3, 1fr);
}

.book {
    flex: 0 1 calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
}

.bookdetails {
    flex-grow: 1;
    text-align: center;
}

.bookimage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.booklink {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.booklink:hover {
    color: #023368;
}

h1 {
    font-size: 30px;
    color: #333;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}