{% extends "base.html" %}

{% block title %}{{ category }}{% endblock %}

{% block content %}

<h3>{{ category }}</h3>
<div class="bookcontainer">
    {% for book in book_list %}

    <div class="book">
        <div class="bookdetails">
            <p>
                <a href="{{ book.get_absolute_url }}">
                    <img class="bookimage" src="{{ book.img_url }}" alt="Book image">
                    {{ book.title }}
                </a>
                <br>
                {{ book.author }}
                <br>
                &#36;{{ book.price }}
            <form id="addtocart" action="{% url 'cart:cart_add' book.bookid %}" method="post">
                {{ cart_book_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Add to cart">
            </form>
            </p>
        </div>
    </div>
    {% empty %}
    <p>Nothing here yet.</p>

    {% endfor %}
</div>
{% include "pagination.html" with page=books %}
{% endblock %}