{% extends "base.html" %}

{% block title %}Wishlist{% endblock %}

{% block content %}

<h4>Wishlist</h4>

{% for book in books %}
<div class="bookcontainer">
    <div class="book">
        <div class="bookdetails">

            <a class="booklink" href="{% url 'book:book_detail' book.slug %}">
                <img class="bookimage" src="{{ book.img_url }}" alt="Book image">

                {{ book.title|truncatechars:30 }}
            </a>
            <br>
            {{ book.author|truncatechars:30 }}
            <br>
            &#36;{{ book.price }}

            <form action="{% url 'cart:cart_add' book.bookid %}" method="post">
                {{ cart_book_form }}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Add to cart">
            </form>
        </div>
    </div>
</div>
{% empty %}
<p>Nothing here yet.</p>
{% endfor %}

{% endblock %}