{% extends "base.html" %}
{% load static %}

{% block title %}Bookstore{% endblock %}

{% block content %}

<h1> Authors </h1>
{% for author in all_authors %}
<a class="authorlink" href="{% url 'author:author_detail' author.slug %}">
    {% if author.photo %}
    <p><img src="{{ author.photo.url }}" alt="Author Photo" width="250"></p>
    {% else %}
        <p><img src="{% static 'img/no-photos.png' %}" alt="No Photo" width="150"></p>
        <p style="font-size:12px;"><small>Photo credits: 
            <a href="https://www.flaticon.com/free-icons/no-photo" title="no photo icons">No photo icons created by Those Icons - Flaticon</a>
        </small>
        </p>
        <p>No photo available</p>
    {% endif %}
<p>{{ author.name }} {{ author.surname }}</p></a>

{% endfor %}

{% endblock %}
