<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}&books_per_page={{ books_per_page }}">Previous</a>

        {% endif %}
        <span class="current">
            Page {{ page.number }} out of {{ page.paginator.num_pages }}
        </span>
        {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}&books_per_page={{ books_per_page }}">Next</a>
        {% endif %}
    </span>
</div>