name: Run Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      PASSWORD_POSTGRES: ${{ secrets.PASSWORD_POSTGRES }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  

      - name: Build Docker image
        run: docker-compose -f docker-compose.yml build

      - name: Run tests on Docker
        run: |
          docker-compose -f docker-compose.yml run --rm -v ${PWD}:/srv -w /srv web pytest --import-mode=importlib bookstore/tests/